<a routerLink="/books">Dashboard</a>

<hr>

<form [formGroup]="bookForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="isbnInput">ISBN</label>
    <input type="text" class="form-control" id="isbnInput" formControlName="isbn">

    <div class="feedback-error" *ngIf="bookForm.controls.isbn.touched && bookForm.controls.isbn.invalid">Die ISBN ist ungültig.</div>
  </div>

  <div class="form-group">
    <label for="titleInput">Titel</label>
    <input type="text" class="form-control" id="titleInput" formControlName="title">
  </div>

  <div class="form-group">
    <label for="ratingInput">Bewertung</label>
    <input type="number" class="form-control" id="ratingInput" formControlName="rating">
  </div>

  <button type="submit" class="btn-green" [disabled]="bookForm.invalid">Abschicken</button>
</form>


<pre>{{ bookForm.getRawValue() | json }}</pre>
